
<!DOCTYPE html>
<html>
    <head>
        <title>Your Machine Learning App</title>
    </head>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        var graphs = {{graphJSON | safe}};
        Plotly.plot('chart',graphs,{});
    <body>
        <form name="form", method="POST", style="text-align: center;">
            <br>
            Month: <input type="number" name="month", placeholder="Enter month name" required/>
            <br><br>
            Year: <input type="number" name="year", placeholder="Enter year" required/>
            <br><br>
            <button value="Submit">Run</button>
        </form>
        <p style="text-align: center;">{{ output }}</p>
    </body>
</html>