
<!doctype html>
<html>
 <body>
  <h1>Bumble App Reviews Dashboard</h1>
  <div id='chart'></div>
 </body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart', graphs, {});
</script>
<form action="{{url_for('trends')}}" method="POST">
    <label for="date">Enter date (yyyy-mm):</label>
    <input type="text" id="date" name="date"><br><br>
    <input type="submit" value="Submit">
  </form>
  <br></br>
