
<!doctype html>
<html>
 <body>
  <h1>Bumble App Reviews Dashboard</h1>
  <div id='chart'></div>
 </body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart', graphs, {});
</script>
<form action="{{url_for('trends')}}" method="POST">
    <label for="date">Enter date (yyyy-mm):</label>
    <input type="text" id="date" name="date"><br><br>
    <label for="topic">Enter topic (1-5):</label>
    <input type="text" id="topic" name="topic"><br><br>
    <input type="submit" value="Submit">
  </form>
  <br></br>
  <br></br>
  <p>Examples for date: {{date}} and topic: {{topic}}</p>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Some Positive Reviews</h3> 
                {% for value in pos %}
                    <p>{{value}}</p>
                    <br>
                {% endfor %}
      </div>
      <div class="col">
        <h3>Some Negative Reviews</h3> 
        {% for value in neg %}
        <p>{{value}}</p>
        <br>
        {% endfor %}
      </div>
    </div>
  </div>
</html>